.container {
    border: 2px solid black;
    padding: 20px;
    width: 350px;
    height: auto;
    display: flex;
    justify-content: center;
}

form {
    padding: 5px;
}

.titulo {
    font-size: 24pt;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
}

.subContainer {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    padding: 10px;

}

select, .enviar, .texto {
    box-sizing: border-box;
    margin: 10px;
    padding: 7px;
    width: 250px;
    font-size: 18px;
    font-weight: 400;
}

.enviar {
    font-weight: bold;
    background-color: rgb(192, 246, 180);
}

.enviar:hover {
    cursor: pointer;
    background-color: rgb(184, 246, 170);
}

.enviar:active {
    border: none;
    padding: 9px;
}

.btn {
    padding: 5px;
    border-radius: 3px;
    border: none;
    background-color: rgb(184, 246, 170);
    box-shadow: 0 0 5px black;
}

.btn:hover {
    cursor: pointer;
}